.SR_icon_wrapper {
  position: absolute;
  padding: 0;
  left: 40px;
  top: 0px;
  height: 40px;
  width: 100px;
  color: #fff;
}

.SR_icon_wrapper .anticon {
  position: absolute;
  top: -5px;
  width: 150px;
  height: 16px;
  line-height: 1;
  font-size: 16px;
}

.SR_icon_wrapper .anticon1{
  position: absolute;
  left: -10px;
  top: 5px;
  color: #d9d9d9;
}

.SR_icon_wrapper .anticon2{
  position: absolute;
  left: 160px;
  top: 5px;
  color: #d9d9d9;
}

.anticon.anticon_highlight {
  color: #666;
}

.SR_icon_wrapper .slider {
  position: absolute;
  left: 400px;
  top: 10px;
}

.SR_icon_wrapper .inputWidth{
  position: absolute;
  left: 190px;
  top:1px;
  width: 55px;
}
.SR_icon_wrapper .inputHeight{
  position: absolute;
  left: 270px;
  top:1px;
  width:55px;
}
.SR_icon_wrapper .note_label{
  font-size: 13px;
  color: #dddddd;
}
.SR_icon_wrapper .px1_label{
  position: absolute;
  left: 246px;
  top:2px;
}
.SR_icon_wrapper .width_label{
  position: absolute;
  left: 197px;
  top: 32px;
}
.SR_icon_wrapper .height_label{
  position: absolute;
  left: 278px;
  top: 32px;
}
.SR_icon_wrapper .px2_label{
  position: absolute;
  left: 330px;
  top:2px;
}

