.SR_icon_wrapper {
  position: absolute;
  padding: 0;
  left: 0;
  top: 25px;
  height: 40px;
  width: 100px;
  color: #fff;
}

.SR_icon_wrapper .anticon {
  position: absolute;
  top: -2px;
  width: 15vw;
  height: 16px;
  line-height: 1;
  font-size: 16px;
}

.SR_icon_wrapper .anticon1 {
  position: absolute;
  left: -10px;
  top: 8px;
  color: #d9d9d9;
}

.SR_icon_wrapper .anticon2 {
  position: absolute;
  left: 16vw;
  top: 8px;
  color: #d9d9d9;
}

.anticon .anticon_highlight {
  color: #666;
}

.SR_icon_wrapper .slider {
  position: absolute;
  left: 400px;
  top: 10px;
}

.SR_icon_wrapper .inputWidth {
  position: absolute;
  left: 18vw;
  top: 1px;
  font-size: 12px;
  width: 50px;
}

.SR_icon_wrapper .inputHeight {
  position: absolute;
  left: 26vw;
  top: 1px;
  font-size: 12px;
  width: 50px;
}

.SR_icon_wrapper .note_label {
  font-size: 13px;
  color: #ddd;
}

.SR_icon_wrapper .px1_label {
  position: absolute;
  left: calc(18vw + 55px);
  top: 4px;
}

.SR_icon_wrapper .width_label {
  position: absolute;
  left: 197px;
  top: 32px;
}

.SR_icon_wrapper .height_label {
  position: absolute;
  left: 278px;
  top: 32px;
}

.SR_icon_wrapper .px2_label {
  position: absolute;
  left: calc(26vw + 55px);
  top: 4px;
}

