@import '../../node_modules/antd/dist/antd.css';

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #108ee9;
  font-size: 20px;
}

.info {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.info:hover {
  color: #108ee9;
  font-size: 20px;
}

.logo {
  height: 32px;
  border-radius: 6px;
  margin: 16px;
  text-align: center;
}

.my_div {
  text-align: center;
}

.middle_layout {
  background: #1e1e1e;
  padding: 0;
}

.middle_layout .header {
  background: #0c0c0c;
  padding: 0;
  color: #fff;
}

.middle_layout .right_list {
  position: absolute;
  right: 0px;
  top: 80px;
  background: #1e1e1e;
  height: 450px;
  color: #fff;
}