@import '../../node_modules/antd/dist/antd.css';

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 14px;
  cursor: pointer;
  transition: color 0.3s;
  color: #fff;
}

.trigger:hover {
  color: #108ee9;
  font-size: 20px;
}

::-webkit-scrollbar {
  background-color: #1b1b1b;
  width: .8em;
}

::-webkit-scrollbar:horizontal {
  background-color: #1b1b1b;
  height: .8em;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  #6d6d6d
}

::-webkit-scrollbar-corner {
  background-color: #1b1b1b;
}

.info {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.info:hover {
  color: #108ee9;
  font-size: 20px;
}

.logo {
  height: 32px;
  border-radius: 6px;
  margin: 16px;
  text-align: center;
}

.my_div {
  text-align: center;
}

.middle_layout {
  background: #1e1e1e;
  padding: 0;
}

.middle_layout .header {
  background: #0c0c0c;
  padding: 0;
  color: #fff;
}

.middle_layout .header .btn{
  background: #0c0c0c;
  text-align: center;
  border:0;
}
.middle_layout .header .btn:hover{
  background:#0c0c0c;
  border:0;
}
.middle_layout .header .btn:focus{
  background:#0c0c0c;
  border:0;
}
