
.row {
  height: 10vh;
  width: 100%;
}

.picture {
  height: 80px;
  width: 80px;
  align-items: center;
}

.trigger {
  font-size: 18px;
  line-height: 18px;
  padding: 0 5px;
  cursor: pointer;
  margin-left: 38px;
  transition: color 0.3s;
  color: #fff;
}

.trigger:hover {
  color: #108ee9;
  font-size: 20px;
}

.middle_select {
  margin: 2% 3%;
  height: 65vh;
  width: 80%;
  overflow: auto;
  text-align: center;
}

.Process_bar {
  top: 5vh;
  color: #ddd;
}

.commonAll {
  font-size: 1.8vh;
  color: #f6f6f6;
}

.note_label {
  font-size: calc(2vw * 2vh);
  color: #ddd;
}

.px1_label {
  position: absolute;
  left: 50%;
  top: 700%;
  padding-left: 2%;
}

.selector {
  width: 8vw;
}
