.middle_picture {
  margin: 2% 3%;
  height: 450px;
  overflow: auto;
  text-align: center;
}

.footer {
  background: #1e1e1e;
  padding: 0;
  height: 70px;
}

.imageDropZone {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
}

#try{

}
.footer .note{
  font-size: 15px;
  color:#dddddd;
}
.footer .focalSlider{
  position: absolute;
  left: 0px;
  top:30px;
  width: 250px;
}
.footer .focalInputNumber{
  position: absolute;
  left: 200px;
  top:0px;
  width: 60px;
}
.footer .focalLabel{
  position: absolute;
  left: 0px;
  top:0px;
}

.footer .blurSlider{
  position: absolute;
  left: 360px;
  top:30px;
  width: 250px;
}
.footer .blurInputNumber{
  position: absolute;
  left: 560px;
  top:0px;
  width: 60px;
}
.footer .blurLabel{
  position: absolute;
  left: 360px;
  top:0px;
}
