.middle_picture {
  margin: 1% 3%;
  height: 100%;
  text-align: center;
  color: #d8d8d8;
}

.middle_picture .plus {
  position: absolute;
  top: 45%;
  left: 40%;
  font-size: 5vw;
}

.middle_picture .hide {
  font-size: 0;
}

/* css of left loading icon when loading, set loading icon visible */
.middle_picture .loadingStart {
  position: absolute;
  top: 40%;
  left: 35%;
  font-size: 10vw;
  color: #108ee9;
}

.middle_picture .RGB {
  position: absolute;
  top: 58%;
  left: 37%;
  font-size: 1.5vw;
}

.depth_picture_col {
  margin: 1% 0%;
  height: 100%;
  left: 0;
  text-align: center;
  color: #d8d8d8;
}

.depth_picture_col .depthPicture {
  border: dashed 1vw #d8d8d8;
}

.depth_picture_col .plus {
  position: absolute;
  top: 45%;
  left: 40%;
  font-size: 5vw;
  color: #d8d8d8;
}
.depth_picture_col .depthMap{
  position: absolute;
  top: 58%;
  left: 37%;
  font-size: 1.5vw;
}

.imageDropZone {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
}

/* tool area */
.footer {
  height: 10vh;
  color: #f6f6f6;
}

/* css of minFocalDepth and maxFocalDepth */

.footer .minMaxFocalLabel {
  position: absolute;
  top:-2vh;
  font-size: 1.2vw;
}
/* range slider with min and maxFocalDepth */
.footer .minMaxSlider {
  position: absolute;
  left: 1vw;
  top: 1vh;
  width: 22vw;
}

.footer .minLabel {
  position: absolute;
  top: 2vh;
  font-size: 1.2vw;
}

.footer .maxLabel {
  position: absolute;
  left: 24.5vw;
  top: 2vh;
  font-size: 1.2vw;
}

/* css of transition Slider/InputNumber component/Label */
.footer .transitionSlider {
  position: absolute;
  left: 8vw;
  top: 8vh;
  width: 14vw;
}

.footer .transitionInput {
  position: absolute;
  top: 8.5vh;
  left: 23vw;
  width: 4.5vw;
}

.footer .transitionLabel {
  position: absolute;
  left: 0;
  top: 8.8vh;
  font-size: 1.2vw;
  color: #f6f6f6;
}

/* css of radius Slider/InputNumber component/Label */
.footer .radiusSlider {
  position: absolute;
  top: -1.3vh;
  left: 6vw;
  width: 15vw;
}

.footer .radiusInput {
  position: absolute;
  left: 23vw;
  width: 4.5vw;
  top: -1vh;
}

.footer .radiusLabel {
  position: absolute;
  top: -1vh;
  font-size: 1.2vw;
  color: #f6f6f6;
}

/* css of brightness Slider/InputNumber component/Label */
.footer .brightnessSlider {
  position: absolute;
  left: 6vw;
  top: 3.5vh;
  width: 15vw;
}

.footer .brightnessInput {
  position: absolute;
  top: 3.7vh;
  left: 23vw;
  width: 4.5vw;
}

.footer .brightnessLabel {
  position: absolute;
  top: 4.2vh;
  font-size: 1.2vw;
  color: #f6f6f6;
}

/* css of speed Slider/InputNumber component/Label */
.footer .speedSlider {
  position: absolute;
  left: 6vw;
  top: 8vh;
  width: 15vw;
}

.footer .speedInput {
  position: absolute;
  top: 8.5vh;
  left: 23vw;
  width: 4.5vw;
}

.footer .speedLabel {
  position: absolute;
  top: 8.8vh;
  font-size: 1.2vw;
  color: #f6f6f6;
}

/* css of depth loading icon when stop loading, set loading icon invisible */
.depth_picture_col .hide {
  font-size: 0;
}

/* css of depth loading icon when loading, set loading icon visible */
.depth_picture_col .loadingStart {
  position: absolute;
  top: 40%;
  left: 35%;
  font-size: 10vw;
  color: #108ee9;
}
