.middle_picture {
  margin: 2% 3%;
  height: 450px;
  /*max-width: 360px;*/
  overflow: auto;
  text-align: center;
}

::-webkit-scrollbar {
  background-color: #1b1b1b;
  width: .8em;
}

::-webkit-scrollbar:horizontal {
  background-color: #1b1b1b;
  height: .8em;
}

::-webkit-scrollbar-thumb:window-inactive {
  background:  #6d6d6d
}

::-webkit-scrollbar-corner {
  background-color: inherit;
}

 .footer {
  background: #1e1e1e;
  padding: 0;
  height: 70px;
}
/*some common properties in footer */
 .footer .footer_icon {
  font-size: 30px;
  color: #d9d9d9;
}
.footer .footer_icon:hover {
  color: #108ee9;
  font-size: 38px;
  top:-5px;
}
 .footer .note {
  font-size: 15px;
  color: #d9d9d9;
}

/*footer icon*/
 .footer .zoom {
  position: absolute;
  right: 90px;
  top: 0px;
}

 .footer .check_btn {
  position: absolute;
  right: 18px;
  top: 0px;
}

 .footer .check_btn:hover {
  background: #108ee9;
  top: -5px;
  right: 15px;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 26px;
}

/*.middle_layout .footer .check {
  position: absolute;
  right: 15px;
  top: 10px;
}*/
/*footer note*/
.note_label_reso {
  position: absolute;
  top: 28px;
  left: 60px;
}

.note_label_zoom {
  position: absolute;
  top: 30px;
  right: 70px;
}

.note_label_check {
  position: absolute;
  top: 30px;
  right: 10px;
}


.imageDropZone {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
}

#try{

}
